.cartitem{
  position: absolute;
    background:url(board.jpg) center/cover no-repeat;
    height: 100vh;
    width: 100%;
    background-size:cover;
}
.cartitem .carthead{
  color: white;
  text-align: center;
  margin-top: 72px;
  letter-spacing: 2px;
  font-size: medium;

}
.row{
    margin-left: 3%;
}
.textright
{
  text-align: right;
  margin-right: 3%;
  margin-top:-10px;
}

.empty{
    color: white;
    padding: 15px;
    font-size:medium;
    font-weight: bolder;
    text-align: center;

    
  }
  .check
{
  background-color:rgb(123, 249, 249);
  color: black;
  padding: 8px;
  font-size: larger;
  margin-left: 1%;
}
.check:hover
{
  background-color:rgb(3, 254, 175);
  color: black;
  padding: 8px;
  font-size: larger;
}
.summary{
  width:50%;

  font-size: small;
  margin: auto;
}
.orders{
  width:140px;
  text-align: right;
}
.tot
{
  padding: 4px;
}